/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea/*

/src/Theodo/ImagineFormationBundle/Resources/public/font-awesome/*
/src/Theodo/ImagineFormationBundle/Resources/public/highlightjs/*
/src/Theodo/ImagineFormationBundle/Resources/public/impress.js/*
/src/Theodo/ImagineFormationBundle/Resources/public/images/destination.png
/web/css/*
