{% extends '::base.html.twig' %}

{% block body %}
    <div id="header">
        {% block header %}
            {% include 'TheodoImagineFormationBundle:layout:header.html.twig' %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/theodoimagineformation/css/main.css') }}" rel="stylesheet" />
{% endblock %}
