parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    web_dir:                    '%kernel.root_dir%/../web'
    picture_path:               '%web_dir%/bundles/theodoimagineformation/images'
    original_name:              'original.jpg'
    destination_name:           'destination.png'
    original_picture_path:      '%picture_path%/%original_name%'
    destination_picture_path:   '%picture_path%/%destination_name%'
