<div id="impress">
    <div class="step slide" data-x="0" data-y="-1500">
        <h1>Imagine PHP Library</h1>
        <h2>Manipulating pictures simply with PHP</h2>
    </div>
    <div class="step slide" data-x="1500" data-y="-1500">
        <h3>30 minutes to cover:</h3>
        <ol>
            <li>The main existing libraries</li>
            <li>The Imagine library</li>
            <li>The Imagine bundle</li>
        </ol>
    </div>
    <div class="step slide" data-x="3000" data-y="-1500">
        <h3>The main existing libraries</h3>
        <ol>
            <li>GD (actually GD2)</li>
            <li>Gmagick (GraphicsMagick)</li>
            <li>Imagick (ImageMagick)</li>
            <li>(Cairo?)</li>
        </ol>
    </div>
    <div class="step slide" data-x="4500" data-y="-1500">
        <h3>GD: ID Card</h3>
        <p>PHP Version: 4.3+</p>
        <p>Current Version: 2.1.0</p>
        <p>Documentation: <a href="http://www.php.net/manual/en/book.image.php">www.php.net</a></p>
        <p>Repository: <a href="https://bitbucket.org/libgd/gd-libgd/overview">bitbucket</a></p>
    </div>
    <div class="step slide" data-x="6000" data-y="-1500">
        <h3>GD: Pros and Cons</h3>
        <p><i class="fa fa-plus fa-lg"></i> Often shipped with a standard PHP installation</p>
        <p><i class="fa fa-minus fa-lg"></i> Not OOP</p>
        <p><i class="fa fa-minus fa-lg"></i> High memory footprint</p>
    </div>
    <div class="step slide" data-x="7500" data-y="-1500">
        <h3>GMagick: ID Card</h3>
        <p>PHP Version: 5.1.3+</p>
        <p>Current Version: 1.1.5RC1 (no stable)</p>
        <p>Documentation: <a href="http://www.php.net/manual/en/book.gmagick.php">www.php.net</a></p>
        <p>Homepage: <a href="http://pecl.php.net/package/gmagick">pecl.php.net</a></p>
    </div>
    <div class="step slide" data-x="9000" data-y="-1500">
        <h3>GMagick: Good to know</h3>
        <p>Based on <a href="http://www.graphicsmagick.org/">GraphicsMagick</a> API</p>
        <p>Fork from ImageMagick in 2002</p>
        <p>GraphicsMagick License : MIT</p>
    </div>
    <div class="step slide" data-x="10500" data-y="-1500">
        <h3>GMagick: Pros and Cons</h3>
        <p><i class="fa fa-plus fa-lg"></i> Almost OOP (3 classes)</p>
        <p><i class="fa fa-plus fa-lg"></i> "Smaller than Imagick (less dependencies)"</p>
        <p><i class="fa fa-plus fa-lg"></i> "More stable and secure than Imagick"</p>
        <p><i class="fa fa-plus fa-lg"></i> Stable API (BC and UC)</p>
        <p><i class="fa fa-minus fa-lg"></i> Google it and find Imagick instead<br />
        <span class="small"> Type "PHP Gmagick pros and cons", Google rectifies with "PHP Imagick pros and cons"</p>
    </div>
    <div class="step slide" data-x="12000" data-y="-1500">
        <h3>IMagick: ID Card</h3>
        <p>PHP Version: 5.1.3+</p>
        <p>Current Version: 3.2.0b2 (3.1.2)</p>
        <p>Documentation: <a href="http://www.php.net/manual/en/book.imagick.php">www.php.net</a></p>
        <p>Homepage: <a href="http://pecl.php.net/package/imagick">pecl.php.net</a></p>
    </div>
    <div class="step slide" data-x="13500" data-y="-1500">
        <h3>IMagick: Good to know</h3>
        <p>Based on <a href="http://www.imagemagick.org/script/index.php">ImageMagick</a> API</p>
        <p>ImageMagick License : Apache</p>
    </div>
    <div class="step slide" data-x="15000" data-y="-1500">
        <h3>IMagick: Pros and Cons</h3>
        <p><i class="fa fa-plus fa-lg"></i> Almost OOP (4 classes)</p>
        <p><i class="fa fa-plus fa-lg"></i> Easy to install</p>
        <p><i class="fa fa-plus fa-lg"></i> Popular</p>
        <p><i class="fa fa-minus fa-lg"></i> Did not find any...</p>
    </div>
    <div class="step slide" data-x="16500" data-y="-1500">
        <h3>The Imagine library: ID Card</h3>
        <p>PHP Version: 5.3+</p>
        <p>Current Version: 0.5.0</p>
        <p>Documentation: <a href="http://imagine.readthedocs.org/en/latest/">imagine.readthedocs.org</a></p>
        <p>Repository: <a href="https://github.com/avalanche123/Imagine">github.com/avalanche123/Imagine</a></p>
        <p>API: <a href="http://imagine.readthedocs.org/en/latest/_static/API/">imagine.readthedocs.org/API</a></p>
    </div>
    <div class="step slide" data-x="18000" data-y="-1500">
        <h3>The Imagine library: Installation</h3>
        <p>Installation using Composer:</p>
        <pre>
            <code class="json">{
    "require": {
        "imagine/imagine": "~0.5.0"
    }
}</code>
        </pre>
    </div>
    <div class="step slide" data-x="18000" data-y="0">
        <h3>The Imagine library: Installation</h3>
        <p>You could also add:</p>
        <pre>
            <code class="json">{
    "require": {
        "ext-imagick": "*"
    }
}</code>
        </pre>
    </div>
    <div class="step slide" data-x="19500" data-y="0">
        <h3>The Imagine library: How it works</h3>
        <p>Coordinates: starting at top left corner</p>
        <p>Point class for coordinates</p>
        <p>Box class for dimensions</p>
    </div>
    <div class="step slide" data-x="21000" data-y="0">
        <h3>The Imagine library: How it works</h3>
        <p>Palette</p>
        <p>Layer</p>
        <p>Effects <span style="font-size: 0.7em">(gamma, negative, grayscale, colorize, sharpen, blur)</span></p>
        <p>Filters <span style="font-size: 0.7em">(modifications applied immediately)</span></p>
        <p>Transformations <span style="font-size: 0.7em">(modifications stacked to be applied later)</span></p>
    </div>
    <div class="step slide" data-x="22500" data-y="0">
        <h3>The Imagine library: Benefits</h3>
        <p><i class="fa fa-plus fa-lg"></i> Really OOP</p>
        <p><i class="fa fa-plus fa-lg"></i> Abstraction layer on the most known libraries</p>
        <p><i class="fa fa-plus fa-lg"></i> Common implementation for these libraries</p>
        <p><i class="fa fa-plus fa-lg"></i> Good documentation <span class="small">(with readable and simple examples)</span></p>
        <p><i class="fa fa-plus fa-lg"></i> Clean Exceptions management</p>
    </div>
    <div class="step slide" data-x="24000" data-y="0">
        <h3>The Imagine library: Limits</h3>
        <p><i class="fa fa-minus fa-lg"></i> "Common implementation" but partial support<p>
        <p class="small right">Most but not all methods are implemented for all libraries so refer to documentation</p>
        <p><i class="fa fa-minus fa-lg"></i> Documentation not always synchronized with code</p>
        <p><i class="fa fa-minus fa-lg"></i> Abstraction is relative<p>
        <p class="small right">Changing library require changes in the code</p>
        <p><i class="fa fa-minus fa-lg"></i> Thumbnail management with too small picture</p>
        <p class="small right">Resulting picture dimensions are smaller than required</p>
    </div>
    <div class="step slide" data-x="25500" data-y="0">
        <h3>The Imagine library: Example</h3>
        <p>Check the nav bar</p>
    </div>
    <div class="step slide" data-x="27000" data-y="0">
        <h3>The Imagine bundle: What's in it?</h3>
        <ul>
            <li>Bundle semantic configuration</li>
            <li>Twig filters to apply the defined filters to images</li>
            <li>Caching</li>
            <li>Controller as a service</li>
            <li>Extensibility</li>
        </ul>
    </div>
    <div class="step slide" data-x="27000" data-y="1500">
        <h3>The Imagine bundle: What's in it?</h3>
        <ul>
            <li>Custom Loaders</li>
            <li>Pretty good documentation</li>
            <li>Additional filters as "upscale"</li>
        </ul>
    </div>
    <div class="step slide" data-x="28500" data-y="1500">
        <h3>The Imagine bundle: Installation</h3>
        <pre>
            <code class="bash">php composer.phar require "liip/imagine-bundle:dev-master"</code>
        </pre>
        <pre>
            <code class="yaml"># app/config/routing.yml
_imagine:
    resource: .
    type:     imagine</code>
        </pre>
    </div>
    <div class="step slide" data-x="30000" data-y="1500">
        <h3>The Imagine bundle: Basic workflow</h3>
        <p>1. Define the required filters in the configuration</p>
        <pre>
            <code class="yaml"># app/config/config.yml
liip_imagine:
    filter_sets:
        my_thumb:
            quality: 75
            filters:
                thumbnail: { size: [120, 90], mode: outbound }
            </code>
        </pre>
    </div>
    <div class="step slide" data-x="30000" data-y="3000">
        <h3>The Imagine bundle: Basic workflow</h3>
        <p>2. Use provided filter in Twig template</p>
        <pre>
            <code class="twig">{{ '<img src="{{ \'path/to/image.jpg\' | imagine_filter(\'my_thumb\') }}\" />' | e('html') }}</code>
        </pre>
    </div>
    <div class="step slide" data-x="30000" data-y="4500">
        <h3>The Imagine bundle: Basic workflow</h3>
        <p>3. If first request:</p>
        <ol class="indent">
            <li>Find the original image using the Loader</li>
            <li>Apply filters to this image</li>
            <li>Store the modified image</li>
            <li>Return it</li>
        </ol>
    </div>
    <div class="step slide" data-x="30000" data-y="6000">
        <h3>The Imagine bundle: Basic workflow</h3>
        <p>4. If not first request:</p>
        <ol class="indent">
            <li>Retrieve corresponding cached image</li>
            <li>Return it</li>
        </ol>
    </div>
    <div class="step slide" data-x="31500" data-y="6000">
        <h1>And Voilà!</h1>
    </div>
    <div class="step slide" data-x="31500" data-y="5750" data-rotate="180" data-scale="6">
        <h1 style="font-size:1.1em">Any (even stupid) question?</h1>
    </div>
</div>
